body{
    text-align: center;
 }
 .btn{
     border: 5px solid black;
     width: 100px;
     height: 100px;
     margin: 0.5rem;
     display: flex;
     border-radius: 20px;
 }
 .btncontainer{
    display: flex;
    justify-content: center;
 }
 .yellow{
    background-color: #e87810;
 }
 .red{
    background:#d71f56;
 }
 .green{
    background:#6c8ef4 ;
 }
 .purple{
    background-color: #0a4b76;
 }
 .flash{
    background-color: white;
 }
 .userflash{
    background-color: rgb(21, 231, 133);
 }